
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 88vh;
    padding: 5%;
    border: 1px solid rgb(219, 219, 219);
}

.right-side{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 3rem;
}

.left-side{
    width: 50%;
}

mat-form-field{
    width: 100%;
}